* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.baslik {
  text-align: center;
  margin: 80px auto 0;
  font-family: "Arial Bold", sans-serif;
  font-size: 25px;
}
p {
  font-size: 20px;
  margin-top: 25px;
  color: #565e71;
  padding: 1px;
  font-family: "Arial Bold", sans-serif;
}
.photo {
  margin-left: 250px;
}
