* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* Resmin içine yazı ekleme kodları.. */
.container {
  position: relative;
  text-align: start;
  color: white;
}
/* Sayfanın ortasında yer alacak olan yazı..*/
.baslik {
  position: absolute;
  top: 43%;
  left: 70%;
  transform: translate(-50%, -50%);
  text-align: start;
  font-family: "Arial Bold", sans-serif;
  font-size: 22px;
  color: #000;
}
p {
  font-size: 20px;
  margin-top: 15px;
  color: #565e71;
  padding: 1px;
}
.buton {
  background-color: #2051ed;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 85px;
  height: 35px;
  margin-top: 20px;
}
.buton:hover {
  background-color: darkblue;
}
.buton-2 {
  background-color: #f4f5f7;
  color: #565e71;
  border: none;
  border-radius: 5px;
  width: 95px;
  height: 35px;
  margin-top: 20px;
  margin: 15px;
}
.buton-2:hover {
  background-color: #dddddd;
}
