* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background-color: #f8fafc;
}
hr {
  border-color: #e3e7ee;
}
.foot {
  margin-top: 85px;
  margin-bottom: 35px;
}
.foot h1 {
  font-family: "Arial Bold", sans-serif;
  text-align: center;
  margin: 30px auto;
  color: #000000;
}
.foot p {
  font-size: 15px;
  margin: 0 auto;
  font-family: "Arial Bold", sans-serif;
  color: #565e71;
  padding: 1px;
  text-align: center;
}
.options {
  width: 700px;
  margin: 0 auto;
}
.options h3 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: "Arial Bold", sans-serif;
}
.options p {
  font-size: 15px;
  margin: 15px auto;
  font-family: "Arial Bold", sans-serif;
  color: #565e71;
  padding: 1px;
  text-align: left;
}
.email {
  font-size: 15px;
  margin-top: 25px;
  font-family: "Arial Bold", sans-serif;
  color: #565e71;
  padding: 1px;
  text-align: center;
}
