* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.baslik {
  margin: 100px auto;
  width: 700px;
  height: 500px;
  font-family: "Arial Bold", sans-serif;
  border: 1px solid black;
  border-radius: 10px;
}
h3 {
  color: #f5d052;
  font-size: 35px;
  margin-top: 55px;
  margin-left: 35px;
}
h1 {
  font-size: 65px;
  margin-left: 35px;
}
h2 {
  color: #8f98a7;
  font-size: 50px;
  margin-left: 35px;
  margin-bottom: 25px;
}
p {
  color: #8f98a7;
  margin-left: 35px;
  padding: 5px;
}
.buton {
  background-color: #ffd23f;
  border: none;
  border-radius: 15px;
  width: 200px;
  height: 50px;
  margin-left: 35px;
  margin-top: 35px;
}
a {
  color: #000;
  font-size: 30px;
  font-family: "Calibri", sans-serif;
}
