/* Hero Area Start */
/* list  start*/
hr {
  color: #f8f9fb;
}
.hero-area {
  width: 100%;
  height: 96px;
  background-color: #f8f9fb;
}

.navigation {
  display: flex;
  width: 640px;
  justify-content: space-between;
}
.navigation ul li {
  font-family: "Inter";
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
}
.navigation ul li a {
  color: #272d37;
}
#menu-icon {
  font-size: 35px;
  color: #fff;
  cursor: pointer;
  z-index: 1;
  display: none;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 86px;
  background: none;
}
.navigation ul {
  display: flex;
  gap: 32px;
}
.users button {
  width: 94px;
  height: 46px;
  padding: 12px 18px;
}
.title {
  text-align: center;
  margin: 0 auto;
  height: 356px;
  padding: 50px 0;
  width: 684px;
}
.title h1 {
  align-items: center;
}
.title2 {
  text-align: center;
  margin: 0 auto;
  height: 238px;
  padding: 50px 0;
  width: 684px;
}

.title2 h1 {
  align-items: center;
}
.buttons {
  margin-top: 36px;
}

/* Hero Area End */

/* Channels Review Area Start */

.our-channels-review {
  background-color: #f8f9fb;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
}
.product-features .title {
  height: 222px;
}
.card {
  width: 386px;
  height: 206px;
  border: 1px solid #eaebf0;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.04);
  border-radius: 5px;
  margin: 0 auto;
}
.card-entry {
  padding: 24px 0;
  width: 320px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}
.card-info {
  width: 320px;
  margin: 0 auto;
  text-align: start;
}
.card-entry img {
  width: 48px;
  height: 48px;
}
.all-changes {
  margin: 0 auto;
  padding: 64px 0;
  width: 188px;
}
/* Channels Review Area End */

/* Product Features Area Start */

.detail {
  display: flex;
  align-items: center;
  height: 580px;
  background-image: url(../img/paying.png);
  background-repeat: no-repeat;
  background-position: 100%;
}
.write {
  width: 50%;
}
.write h3 {
  margin-bottom: 16px;
}
.write p {
  margin-bottom: 40px;
}
.write h6 {
  color: #2b63d9;
}
/* Product Features Area End */

/* Branding Blue Area Start */

.branding-blue {
  background-color: #2b63d9;
  padding: 64px 0px;
  gap: 64px;
  height: 688px;
  margin-top: 10px;
}
.containr {
  display: flex;
  align-items: center;
  padding: 0px 32px;
  flex-direction: row;
  gap: 80px;
}
.item {
  color: white;
  font-size: 30px;
}
.box {
  width: 576px;
  height: 126px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 30px;
}
.branding h5 {
  width: 146px;
  height: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.1px;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.Velit {
  width: 576px;
  height: 72px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #b1ccfb;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin-top: 20px;
}
.buttonn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 18px;
  gap: 6px;
  width: 133px;
  height: 46px;
  background: #437ef7;
  border-radius: 6px;
  flex: none;
  order: 1;
  flex-grow: 0;
  font-family: "Inter";
  font-style: normal;
  color: aliceblue;
  margin-top: 20px;
}

/* Branding Blue Area End */

/* Branding White Area Start */

.branding-white {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 64px 0px;
  gap: 64px;
  height: 688px;
  background: #fafbfc;
  flex: none;
  order: 4;
  flex-grow: 0;
  margin-top: 10px;
}
.demons h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
  color: #272d37;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.demons p {
  width: 532px;
  height: 72px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #5f6d7e;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.demons ul {
  width: 506px;
  height: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #5f6d7e;
  flex: none;
  order: 1;
  flex-grow: 1;
}
.branding-white img {
  width: 560px;
  height: 560px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
}
/* Branding White Area End */

/* Blog Area Start */

.blog-header {
  padding: 64px 0;
}

.blog-header h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.02em;
}

.blog-header p {
  margin: 16px auto 0;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  color: #5f6d7e;
  width: 800px;
}

.blog-cards {
  gap: 31px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 69px;
}

.blog-card {
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.04);
  border-radius: 10px;
  border: 1px solid #eaebf0;
  width: 384px;
}

.blog-avatar {
  position: absolute;
  right: 32px;
  top: 224px;
}

.blog-card-img {
  position: relative;
}

.blog-card-img img {
  border-radius: 10px 10px 0 0;
}

.blog-card-under {
  margin: 24px 32px;
  width: 320px;
}

.article {
  display: flex;
  align-items: center;
  gap: 28px;
}

.article h6 {
  color: #437ef7;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.1px;
}

.article p {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  letter-spacing: -0.1px;
  color: #5f6d7e;
}

.learnmore {
  display: flex;
  color: #437ef7;
  align-items: center;
  gap: 6px;
  margin-top: 24px;
}

.learnmore a {
  color: #437ef7;
  font-family: "Inter";
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  text-decoration: none;
}

.blog-paragrph-container h2 {
  margin-top: 20px;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: -0.01em;
  color: #272d37;
}

.blog-paragrph-container p {
  margin-top: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  color: #5f6d7e;
}
/* Blog Area End */

/* Customers Say Area Start */

.customer-header {
  padding: 64px 0;
}

/* .divider {
    border: 1px solid #EAEBF0;
    transform: rotate(20deg);
} */

.customer-header h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.02em;
}

.customer-header p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.1px;
  width: 800px;
  margin: 16px auto;
}

.custumer-under-card img {
  margin: 0 auto;
}

.customer-under {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 64px;
  justify-content: space-around;
}

.custumer-under-card p {
  margin-top: 16px;
  width: 316px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.1px;
  color: #272d37;
}

/* Customers Say Area End */

/* Submit Area Start */
.general-submit {
  background-color: #f8f9fb;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.text-area {
  flex-basis: 45%;
}

.text-area p {
  padding-top: 40px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.10000000149011612px;
  color: #437ef7;
}

.text-area h5 {
  padding-bottom: 40px;
  font-size: 32px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: -0.01em;
}

.input-area {
  display: flex;
  align-items: center;
  justify-content: stretch;
}

.input-area input {
  height: 49px;
  width: 352px;
  border: 1px solid #dae0e6;
  border-radius: 5px 0 0 5px;
  padding: 12px 16px 12px 16px;
}

.input-area :placeholder-shown {
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.10000000149011612px;
}
/* Submit Area End */

/* Footer Area Start */

.tablet-footer {
  display: none;
}

.phone-footer {
  display: none;
}

.footer-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.social-icons {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 32px;
}

.footer-deskp {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.logo-social {
  width: 20%;
}

.logo-social p {
  text-align: start;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
  color: #5f6d7e;
  display: flex;
  flex-direction: column;
  padding-top: 22px;
  padding-bottom: 16px;
}

.footer-table {
  display: flex;
  flex-direction: column;
}

.footer-table h6 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
  padding-bottom: 20px;
}

.footer-table a {
  text-decoration: none;
  color: #5f6d7e;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
  padding-bottom: 12px;
}

.tablet-about {
  display: none;
}

.copyrate p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
  color: #5f6d7e;
}

.copyrate {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.copyrate img {
  width: 24px;
  height: 25.71px;
}

/* Footer Area End */
